application: v2ex-picky
version: 1
runtime: python
api_version: 1

handlers:
- url: /favicon.ico
  static_files: static/shared/favicon.ico
  upload: static/shared/favicon.ico

- url: /static
  static_dir: static

- url: /remote_api
  script: $PYTHON_LIB/google/appengine/ext/remote_api/handler.py
  login: admin

- url: /writer
  script: writer.py

- url: /writer/.*
  script: writer.py

- url: /twitter
  script: twitter.py

- url: /twitter/.*
  script: twitter.py

- url: .*
  script: main.py