/*
	Project Picky Writer CSS
	
	Author: Livid <v2ex.livid@me.com>
	Web: http://picky.olivida.com/
*/

html {
	padding: 0px;
	margin: 0px;
	font-family: "Helvetica Neue", "Luxi Sans", "DejaVu Sans", Tahoma, "STHeiti";
}

body {
	background-color: #e2e2e2;
	padding: 0px;
	margin: 0px;
}

a:link, a:visited, a:active {
	color: #1c7fdb;
	text-decoration: none;
}

a:hover {
	color: #1785eb;
	text-decoration: underline;
}

form {
	display: inline;
}

h1 {
	font-size: 22px;
	line-height: 22px;
	padding: 0px;
	margin: 0px;
	color: #000;
}

/* IDs */

#Top {
	background-color: #333;
	padding: 8px 15px 8px 15px;
	color: #fff;
	font-size: 14px;
	line-height: 14px;
	background-image: url("top_bg.png");
}

#Main {
	padding: 15px 15px 20px 15px;
	font-size: 16px;
	line-height: 20px;
	background-color: #fff;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
}

#Nav {
	font-size: 14px;
	margin-bottom: 20px;
	color: #999;
}

#Mentions {
	float: right;
	font-size: 12px;
	line-height: 16px;
	width: 200px;
	margin-bottom: 15px;
}

#Mentions ul {
	list-style: none;
	margin-left: 0;
	padding-left: 1em;
	text-indent: -1em;
}

#Mentions ul li {
	color: #333;
}

#Mentions ul li:before {
	content: "\00BB \0020";
	color: #000;
}

#Message {
	border-top: 1px solid #e2e2e2;
	background-color: #f5f5f5;
	color: #333;
	padding: 5px 5px 5px 5px;
	font-size: 16px;
	line-height: 16px;
	margin-bottom: 10px;
	width: 600px;
	-moz-border-radius: 0px 0px 5px 5px;
	-webkit-border-top-left-radius: 0px;
	-webkit-border-top-right-radius: 0px;
	-webkit-border-bottom-left-radius: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-radius: 0px 0px 5px 5px;
}

#Operations {
	width: 700px;
	height: 30px;
	margin-top: 10px;
	margin-bottom: 15px;
}

#Quickfind {
	float: right;
	font-size: 12px;
	font-weight: bold;
	color: #ccc;
}

#Pages {
	padding-top: 20px;
	width: 700px;
}

#Pages #Numbers {
	padding-top: 0px;
	float: right;
	font-size: 20px;
	line-height: 20px;
	font-family: "Arial Black";
	color: #000;
}

#Explaination {
	display: inline-block;
	background-color: #f5f5f5;
	padding: 15px;
	font-size: 12px;
	line-height: 18px;
	color: #333;
	max-width: 320px;
}

#Explaination strong {
	color: #000;
	font-size: 14px;
}

#Explaination big {
	font-size: 120%;
	color: #000;
}

#Composing {
	float: left;
	padding-right: 15px;
	border-right: 2px solid #f0f0f0;
	display: inline-block;
}

#Footer {
	padding: 15px 15px 15px 15px;
	font-size: 12px;
	line-height: 16px;
	color: #666;
}

#Reminder {
	max-width: 600px;
	margin-bottom: 10px;
}

#Powered {
	font-size: 10px;
	color: #999;
}

/* CLASSes */

.data {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	width: 700px;
}

.data th {
	font-size: 12px;
	font-weight: bold;
	color: #555;
	background-image: url("/static/shared/th_bg.png");
	padding: 2px 5px 2px 5px;
	text-align: left;
}

.data td {
	font-size: 14px;
	line-height: bold;
	padding: 5px 5px 5px 5px;
}

.data td.alt {
	background-color: #f9f9f9;
}

.data td.dt {
	font-size: 10px;
	color: #666;
}

.data td .op {
	margin-top: 8px;
	font-size: 10px;
}

.sl {
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 600px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: "Panic Sans", Luxi Mono, "Courier New", Monaco;
}

.sls {
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 200px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: "Panic Sans", Luxi Mono, "Courier New", Monaco;
}

.ml {
	padding: 3px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 600px;
	height: 300px;
	font-size: 16px;
	color: #000;
	background-color: #fff;
	border: 1px solid #ccc;
	font-family: "Panic Sans", Luxi Mono, "Courier New", Monaco;
}

.btn {
	border: 1px solid #ccc;
	color: #000;
	padding: 5px 10px 5px 10px;
	font-size: 14px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	background-color: #f0f0f0;
}

.btn:hover {
	border: 1px solid #aaa;
	cursor: pointer;
}

.ico16 {
	width: 16px;
	height: 16px;
}

.tr {
	float: right;
}

.fade {
	color: #777;
}

.snow {
	color: #ccc;
}

a.dark:link, a.dark:visited, a.dark:active {
	color: #666;
	text-decoration: none;
	border: none;
}

a.dark:hover {
	color: #333;
	text-decoration: underline;
	border: none;
}

a.black:link, a.black:visited, a.black:active {
	color: #000;
	text-decoration: none;
	border: none;
}

a.black:hover {
	color: #000;
	text-decoration: underline;
	border: none;
}

a.white:link, a.white:visited, a.white:active {
	color: #fff;
	text-decoration: none;
	border: none;
}

a.white:hover {
	color: #fff;
	text-decoration: underline;
	border: none;
}

.blue_badge {
	color: #fff;
	background-color: #aad;
	font-size: 9px;
	line-height: 9px;
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}

.graphite_badge {
	color: #fff;
	background-color: #99a;
	font-size: 9px;
	line-height: 9px;
	padding: 3px 5px 3px 5px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
}

.qf {
	font-size: 12px;
	padding: 2px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #ccc;
	width: 320px;
}

.sep {
	margin-top: 10px;
	border-top: 1px solid #f0f0f0;
	margin-bottom: 10px;
}

.sep10 {
	height: 10px;
}

.sep20 {
	height: 20px;
}

.w600 {
	width: 610px;
}

.w700 {
	width: 710px;
}

.c {
	clear: both;
}

a.page:link, a.page:visited, a.page:active {
	color: #ccc;
	text-decoration: none;
	border: none;
}

a.page:hover {
	color: #000;
	text-decoration: none;
	border: none;
}

.roundAvatar { display:block;position: relative; overflow: hidden; }
.roundAvatar_Corner { position: absolute; }
.roundAvatar_Small,.roundAvatar_Small_even { height: 32px;width: 32px; margin: 3px 5px 0 0; }
.roundAvatar_Small .roundAvatar_Corner { left:-123px; }
.roundAvatar_Small_even .roundAvatar_Corner { left:-123px;top:-75px; }
.roundAvatar_Medium_odd,.roundAvatar_Medium { height: 48px;width: 48px; margin-right: 10px; }
.roundAvatar_Medium_odd .roundAvatar_Corner,.roundAvatar_Medium .roundAvatar_Corner { left:-75px; }
.roundAvatar_Medium_even { height: 48px;width: 48px; margin: 0 10px 10px 0; }
.roundAvatar_Medium_even .roundAvatar_Corner{ left:-75px; top:-75px; }
.roundAvatar_Large { height: 75px;width: 75px; margin-right: 10px; }
.roundAvatar_Large .roundAvatar_Corner{ left:0; top:0; }

.tweet {
	border-top: 1px solid #f0f0f0;
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	border-bottom: 1px solid #ccc;
	padding: 5px;
	background-image: url("/static/shared/tweet_bg.png");
	background-position: bottom;
	background-repeat: repeat-x;
}

.twitter_btn {
	font-size: 10px;
	padding: 2px 10px 1px 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	margin: 0px;
	color: #000;
	background-color: #e2e2e2;
	border: 1px solid #ccc;
	line-height: 10px;
}

.twitter_btn:hover {
	background-color: #f0f0f0;
	color: #333;
	border: 1px solid #cfcfcf;
	cursor: pointer;
}

.twitter_user {
	font-size: 10px;
	color: #bbb;
	text-align: right;
	margin-top: -5px;
	margin-bottom: 5px;
}

.tweet_avatar {
	float: left;
}

.tweet_text {
	margin-left: 58px;
	min-height: 48px;
	font-size: 14px;
	line-height: 20px;
}

.tweet_time {
	float: right;
	font-size: 10px;
	color: #ddd;
	font-weight: bold;
}

.tweet_time a:link, .tweet_time a:visited, .tweet_time a:active {
	color: #cccce0;
	text-decoration: none;
}

.tweet_time a:hover {
	color: #999;
	text-decoration: none;
}

.tweet_box {
	margin-bottom: 10px;
}

.tweet_status {
	width: 701px;
	height: 100px;
	border: 1px solid #e0e0ef;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	margin-bottom: 7px;
	padding: 3px;
	font-size: 14px;
	line-height: 18px;
	font-family: "Panic Sans", "Courier New";
}

.tweet_status:focus, .sl:focus, .sls:focus, .ml:focus {
	border-color: #6c0;
}

.message {
	background: -webkit-gradient(
	    linear,
	    left bottom,
	    left top,
	    color-stop(0.07, rgb(255,245,186)),
	    color-stop(0.5, rgb(255,250,201)),
	    color-stop(0.77, rgb(255,245,186))
	);
	background: -moz-linear-gradient(
	    center bottom,
	    rgb(255,245,186) 7%,
	    rgb(255,250,201) 50%,
	    rgb(255,245,186) 77%
	);
	font-size: 12px;
	line-height: 12px;
	color: #666;
	padding: 12px 10px 12px 10px;
	border-top: 1px solid #ffc;
	border-bottom: 1px solid #ffc;
	width: 680px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

/* Super Awesome Buttons */

.super.button {
	background-image: url("/static/writer/bg_blended.png");
	padding: 4px 15px 4px 15px;
	border: 1px solid rgba(0,0,0,.25);
	border-bottom-color: rgba(0,0,0,.35);
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	font-size: 12px;
	line-height: 12px;
}

.normal.button { background-color: #fff; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; font-weight: bold; }
.normal.button:hover { background-color: #f0f0f0; color: #333; text-shadow: 0px 1px 1px #fff; text-decoration: none; text-decoration: none; font-weight: bold; }

ul.tabs {
	padding: 0px;
	margin: 0px;
	height: 25px;
	line-height: 18px;
	width: 710px;
	font-size: 12px;
	border-bottom: 1px solid #e0e0ef;
	margin-bottom: 10px;
}

ul.tabs li.selected {
	border-top: 2px solid #6c0;
	border-left: 1px solid #e0e0ef;
	border-right: 1px solid #e0e0ef;
	border-bottom: 1px solid #fff;
	display: block;
	float: left;
	padding: 2px 10px 3px 10px;
	-moz-border-radius: 3px 3px 0px 0px;
	-webkit-border-top-left-radius: 3px;
	-webkit-border-top-right-radius: 3px;
}

ul.tabs li.normal {
	border-top: 1px solid #fff;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #e0e0ef;
	display: block;
	float: left;
	padding: 3px 10px 3px 10px;
}